* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    text-decoration: none;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 30px 60px;
}

.cabecalho ul {
    display: flex;
    gap: 20px;
}

.cabecalho ul li a {
    color: #fff;
}

.main {
    padding: 30px 60px;
}

.pai-dos-lados {
    display: flex;
}